
$docs-width: 1100px
$docs-padding: 40px
$docs-nav-width: 300px

.docs-root
    background-color: $grey-lighter
    position: relative

    .docs-wrapper
        display: flex
        flex-direction: row
        margin: 0 auto
        max-width: $docs-width
        min-height: 100vh

    .docs-nav
        flex-basis: $docs-nav-width
        overflow: hidden
        position: relative

        .docs-nav-scroller
            $shift: 999px

            background-color: $white
            box-sizing: border-box
            height: 100vh
            margin-left: -shift
            overflow-x: hidden
            overflow-y: auto
            padding: $docs-padding docs-padding docs-padding shift+docs-padding
            position: fixed
            width: $docs-nav-width + shift

    .docs-content
        flex-grow: 1
        flex-shrink: 1
        padding: $docs-padding
