@import "glaze"

$docs-width : 1100px
$docs-padding : 40px
$docs-nav-width : 300px

.docs-root
    position: relative
    background-color: $grey-lighter

    .docs-wrapper
        display: flex
        flex-direction: row
        margin: 0 auto
        max-width: $docs-width
        min-height: 100vh

        .docs-nav
            flex-basis: $docs-nav-width
            position: relative
            overflow: hidden

            .docs-nav-scroller
                $shift: 999px

                background-color: $white
                position: fixed
                overflow-x: hidden
                overflow-y: auto
                width: $docs-nav-width + $shift
                height: 100vh
                padding: $docs-padding $docs-padding $docs-padding $shift+$docs-padding
                margin-left: -$shift
                box-sizing: border-box

        .docs-content
            flex-grow: 1
            flex-shrink: 1
            padding: $docs-padding
