// Colors

$black: #121214 !default
$grey-dark: #282626 !default
$grey: #808080 !default
$grey-light: #b3b3b3 !default
$grey-lighter: #f5f8fa !default
$white: #fff !default

$red: #cf3b3b
$orange: #dd5227
$yellow: #cfc03b
$green: #37bf61
$cyan: #39b1de
$blue: #3b63cf
$purple: #a43bcf
$pink: #cc2d79
